{% extends "controlinterface/base.html" %}
{% load staticfiles %}
{% block content %}
        <div class="col-sm-3 col-md-2 sidebar">
          <img src="{% static "controlinterface/img/momconnect_logo.png" %}" class="img-responsive" style="padding-left: 20px">
          <br>
          <br>
          <ul class="nav nav-sidebar">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Gustav <span class="glyphicon glyphicon-cog pull-right"></span></a> </li>
            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
            <li><a href="messages.html"><span class="glyphicon glyphicon-th-list"></span> Messages</a></li>
            <li><a href="subscriptions.html"><span class="glyphicon glyphicon-user"></span> Subscriptions</a></li>
            <li><a href="service_rating.html"><span class="glyphicon glyphicon-stats"></span> Service Ratings</a></li>
            <li><a href="resources.html"><span class="glyphicon glyphicon-folder-open"></span> Resources</a></li>
            <li><a href="helpdesk.html"><span class="glyphicon glyphicon-send"></span> Helpdesk</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-wrench"></span> Admin</a></li>
          </ul>
          <br><br><br><br><br><br><br><br><br>
          <img src="{% static "controlinterface/img/doh.png" %}" class="img-responsive" style="padding-left: 20px">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="row">
            <div class="col-sm-3 col-md-4">
              <h1 class="page-header">Dashboard</h1>
            </div>
            <div class="col-sm-3 col-md-5">
              <button type="button" class="btn btn-default btn-md btn-header"><span class="glyphicon glyphicon-plus"></span> Add New Widget</button>
            </div>
            <div class="col-sm-3 col-md-3">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-search" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
          <img src="{% static "controlinterface/img/dash.png" %}" class="img-responsive" style="padding-left: 20px">
        </div>
{% endblock %}