{% extends "controlinterface/base.html" %}
{% load staticfiles %}
{% load bootstrap %}


{% block content %}
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <h1 class="page-header">Messages</h1>
    </div>
  </div>
  <div class="row">
    {% if messages %}

    {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}

        {% if updateform %}
          <form id="message-edit-form" method="post" method="POST" action="." class="form-horizontal" style="width: 500px">
            {% csrf_token %}
          <h3>Edit message</h3>
          {{ updateform|bootstrap }}
          <b>Length:</b> <span id="counter" class="valid">{{ contentlength }}</span><br>
          <input type="submit" class="btn btn-default" value="Update" />
          </form>
        {% elif confirmform %}
          <form id="message-edit-form" method="post" method="POST" action="." class="form-horizontal" style="width: 500px">
            {% csrf_token %}
          <h3>Confirm updated message</h3>
            {{ confirmform|bootstrap }}
            <p>{{ content }}</p>
            <input type="submit" class="btn btn-success" value="Confirm" />
            <button onclick="window.history.back()" class="btn btn-success">Cancel</button>
          </form>
        {% elif form %}
          <form id="message-edit-form" method="post" method="POST" action="." class="form-horizontal" style="width: 500px">
          {% csrf_token %}
          <h3>Find a message to edit</h3>
          {{ form|bootstrap }}
          <input type="submit" class="btn btn-default" value="Find" />
          </form>
        {% endif %}

  </div>

<script type="text/javascript">
var $textarea = $('#id_content');
var $counter = $('#counter');

$textarea.on('change keyup', function () {
    var value = $textarea.val();
    var count = value.length;
    $counter.text(count);
}).change();

</script>

{% endblock %}

