{% extends "controlinterface/base.html" %}
{% load staticfiles %}
{% load bootstrap %}


{% block content %}
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <h1 class="page-header">Subscriptions</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-8">
    {% if messages %}

    {% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}


    {% if confirmcancelform %}
          <h3>Current Subscriptions</h3>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Message Set</th>
                    <th>Next Sequence Number</th>
                    <th>Schedule</th>
                    <th>Active</th>
                    <th>Completed</th>
                </tr>
            </thead

            <tbody>
                {% for subscription in subscriptions %}
                <tr>
                    <td>
                        <strong>{{ subscription.message_set.short_name }}</strong>
                    </td>
                    <td>{{ subscription.next_sequence_number }}</td>
                    <td>{{ subscription.schedule.name }}</td>
                    <td>{{ subscription.active }}</td>
                    <td>{{ subscription.completed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
          <h4>Actions:</h4>
          <p><form id="subscription-edit-form" method="post" method="POST" action=".">
          {% csrf_token %}
          {{ confirmcancelform|bootstrap }}<input type="submit" class="btn btn-primary" value="Cancel All Subscriptions" />
          </form></p>
          <p>
          <form id="subscription-edit-form" method="post" method="POST" action=".">
          {% csrf_token %}
          {{ confirmbabyform|bootstrap }}<input type="submit" class="btn btn-primary" value="Switch To Baby" />
          </form></p>

    {% elif cancelform %}
          <h3>Confirm Subscription Cancel</h3>
          <p><form id="subscription-edit-form" method="post" method="POST" action=".">
            Cancelling all subscriptions will mean that the user will no longer receive any messages from MomConnect. Please confirm that you want to cancel all subscriptions for this user:<br><br>
          {% csrf_token %}
          {{ cancelform|bootstrap }}
          <input type="submit" class="btn btn-success" value="Cancel Subscriptions" />
          </form></p>
          <p>
          <form id="subscription-edit-form" method="post" method="POST" action=".">
          {% csrf_token %}
          {{ form|bootstrap }}<input type="submit" class="btn btn-danger" value="No, don't cancel subscriptions" />
          </form></p>

    {% elif babyform %}
          <h3>Confirm Baby Switch</h3>
          <p><form id="subscription-edit-form" method="post" method="POST" action=".">
            Switching a user to baby messages will mean that they will not receive any pregnancy messages anymore and will now start receiving messages about their baby. Mothers should have given birth to change to baby messages. Please confirm your choice:
          {% csrf_token %}
          {{ babyform|bootstrap }}
          <input type="submit" class="btn btn-success" value="Start baby messages" />
          </form></p>
          <p>
          <form id="subscription-edit-form" method="post" method="POST" action=".">
          {% csrf_token %}
          {{ form|bootstrap }}<input type="submit" class="btn btn-danger" value="No, don't start baby messages" />
          </form></p>
    {% else %}
        <form id="subscription-edit-form" method="post" method="POST" action=".">
          {% csrf_token %}
          <h3>Find a user to edit</h3>
          <p>Please Note: Cellphone number should be entered in the following format: <code>+27812345678</code></p>
          {{ form|bootstrap }}
          <input type="submit" class="btn btn-primary" value="Find" />
      </form>
    {% endif %}
    </div>
  </div>

{% endblock %}

